*{
    margin: 0%;
    padding: 0%;
}

.nav{
    position: sticky;
    top: 0%;
    z-index: 1;
    background-color: white;
}

.links ul li a{
    display: flex;
    font-size: 14px;
    text-decoration: none;
    margin-left: 70px;
    color: black;
    margin-top: -28px;
}
 .links ul{
    list-style-type: none;
    display: flex;
} 
.logo{
    margin-left: 2%;
    margin-top: 20px;
  
    
}
.login-btn{
    margin-left: 50px;
    margin-top: -32px;
   
    

}
.Signup-btn{
    margin-left: 50px;
    margin-top: -30px;

}

.btn1{
    padding: 2px;
    background-color: white;
    border-style: none;
    
}
.btn2{
    border-radius: 2%;
    background-color:  rgb(119, 189, 15);
    color: white;
    padding: 2px;
    border-radius: 20px; 
   
    
    
    
}

.img1{
    margin-left: 400px;
    margin-top: -280px;
}

.h1-row1{
    color:rgb(119, 189, 15) ;
    margin-left: 12px ;
    margin-top: 50px;
    font-size: 60px;
}

.h4-row1{
    color: black ;
    margin-left: 12px ;
    margin-top: 20px;
    font-size: medium;
}

.start{
    background-color: rgb(119, 189, 15);
    color: white;
    margin-left: 10px;
    border-radius: 20px;
    padding: 5px;
    border-style: none;

}
.hire{
    background-color: white;
    color: rgb(119, 189, 15);
    margin-left: 10px;
    border-radius: 20px;
    padding: 3px;
    border-color: rgb(119, 189, 15) ;

}

.logos{
    margin-left: 20px;
}
.card1to3{
    margin-left: 90px;
    margin-top: 100px;
}

.card4to6{
    margin-left: 480px;
    margin-top: -330px;

}
.row2-h1{
    margin-left: 20px;
    margin-top: 50px;
}

.row2-h6{
    margin-left: 20px;
}


.row-4{
    background-image: url('./images/slider-img3.jpg');
    padding: 13%;
    border-radius: 2%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 100px;
    color: white;
    cursor: pointer;
    
}

.h4-text{
    margin-top: -100px;
    margin-left: -10px;
}

.h1-text{
   margin-top: 100px;
   margin-left: -10px;
}
.p-text{
    margin-top: 60px;
    margin-left: -10px;
 }

.card-body{
    background-color: rgb(119, 189, 15);
   
}
.card-body:hover{
    background-color: white;
    color: rgb(119, 189, 15);
}

.card{
    margin-top: 20px;
    margin-left: -10px;
}

